[submodule "deps/asio_http"]
	path = deps/asio_http
	url = https://github.com/mpapierski/asio_http.git
[submodule "deps/jsoncpp"]
	path = deps/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "deps/sigar"]
	path = deps/sigar
	url = https://github.com:hyperic/sigar.git
