[submodule "deps/asio_http"]
	path = deps/asio_http
	url = git@github.com:mpapierski/asio_http.git
[submodule "deps/jsoncpp"]
	path = deps/jsoncpp
	url = git@github.com:open-source-parsers/jsoncpp.git
